doctype html
html
  head
    link(rel='icon', type='image/png', href='/img/numeral.png')
    title
    <link rel="stylesheet" href="/css/index.css">
  body
    div#header
    div#contenedor
      form(action='/tablero', method='get')
        label(for="usuario") Usuario:
        br
        input(id="usu" name='usuario', placeholder='Ingresa tu nombre de usuario')
        br
        //- label(for="usuario") Sala:
        //- br
        //- input(id="sal" name='sala', placeholder='Ingresa tu sala')
        //- br
        br
        div.sub
          input(id="sub" type='submit', value='Empezar')

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='/js/index.js')
    script(src='/js/tablero.js')
      
      
    
//- css('background').length != 0