extends ./header.jade

block cuerpo
  body
    div#header
    div#contenedor
      form(action='', method='get')
        input(type="text" id="sala" hidden value="#{sala}")
        label(for="usuario") Usuario:
        br
        input(id="usu" name='usuario', placeholder='Ingresa tu nombre de usuario')
        br
        br
      div.sub
        button(id="sub_final") Empezar

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='/js/usuario.js')
    script(src='/js/tablero.js')
      
      